<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html, body {
    font-family: "Figtree";
    background-color: #121212;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #1ec85f;
    font-weight: 700;
    font-size: 20px;
}

nav {
    background-color: #1f1f1f;
    padding: 0.1em 1em;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2, h3 { color: white; }

h3 {
    font-size: 50px;
    text-align: left;
    margin-left: 1em;
    margin-bottom: 10px;
    margin-top: 10px;
}

p {
    color: black;  
    font-weight: 8px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

th, td {
    border: 1px solid #121212;
    text-align: center; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
}

td {
    background-color: #1f1f1f;
    color: #7d7d7d;
    padding: 10px;
    border-radius: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
    border-radius: 10px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.guesses-table {
    width: 50%;
    margin: 1em auto;
    border-collapse: separate;
    border-spacing: 5px;
    border-radius: 20px;
}

#instructions {
    text-align: left;
    border: 2px solid #1f1f1f;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#navbar-links {
    transition: transform 0.2s; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}

#navbar-links:hover { transform: scale(1.2); }

#play-button {
    transition: transform 0.2s; 
    color: white;
    text-decoration: none;
    font-size:26px;
    font-weight: bold;
}

#play-button:hover {
    transform: scale(1.4);
    color: #1DB954;
}

#spotify-player {
    text-align: center;
    display: flex;
    justify-content: center;
}

.song-button {
    text-align: center;
    background-color: #1DB954;
    font-size: 32px;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.song-button:hover, .submit-button:hover { background-color: #1ed760; }

#song-button:focus { outline: none; }

.input_text {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
    margin-bottom: 10px;
}

.submit-button {
    font-family: "Figtree";
    background-color: #1ec85f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.content {
    padding: 1em;
    padding-top: 4em;
}
