<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

html, body {
    font-family: "Figtree";
    background-color: #121212;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    color: #1ec85f;
    font-weight: 700;
    font-size: 20px;
}

nav {
    background-color: #1f1f1f;
    padding: 0.1em 1em;
    margin: 0;
    top: 0;
}

h2, h3 { color: white; }

p { color: black; }

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

th, td {
    border: 1px solid #121212;
    text-align: center; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

td {
    background-color: #1f1f1f;
    color: #7d7d7d;
    padding: 10px;
}

.guesses-table {
    width: 50%;
    margin: 1em auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
}

#instructions {
    border: 2px solid black;
    padding: 10px;
    margin: 40px;
    background-color: #1ec85f;
    color: black; 
}

#game_button {
    transition: transform 0.2s; 
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#game_button:hover {
    transform: scale(1.4);
}

.input_text {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 500px;
    margin-bottom: 10px;
}

.submit_button {
    font-family: "Figtree";
    background-color: #1ec85f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.content {
    padding: 1em;
    padding-top: 4em;
}
