<!-- Page where game takes place -->
{% extends "layout.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>

{% block content %}
<body>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p> <b> Please connect to the Spotify Web SDK Player to play <b> </p>
            <p> <br> <br> </p>
            <!-- <img src="../imagesspotify_connect.png" alt="Spotify Connect"> -->
        </div>
    </div>

    <!-- Table for Guesses -->
    <table class="guesses-table">
        <tbody>
            {% for row in rows %}
            <tr> <td>{{ row }}</td> </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Music Button -->
    <div id="spotify-player">
        <button id="play-pause" class="song-button">&#9658;</button>
    </div>
    <p> <br> </p>

    <!-- Guess Field -->
    <div class="container">
        <form id="gameForm" action="javascript:void(0);" method="POST">
            <input type="text" id="guess" name="guess" class="input_text" required>    
            <input type="submit" value="Check" class="submit-button">
        </form>
    </div>


    <script>

        const modal = document.getElementById('myModal');
        const span = document.getElementsByClassName('close')[0];

        modal.style.display = 'block';
        
        const durations = [1000, 4000, 8000, 12000, 20000, 30000]; // Durations in milliseconds
        let currDurationIndex = 0;
        let device_ID;
        let track_uri;
        let trackTitle;
        let player;

        const script = document.createElement("script");
        script.src = "https://sdk.scdn.co/spotify-player.js";
        script.async = true;

        document.body.appendChild(script);

        window.onSpotifyWebPlaybackSDKReady = () => {

            const token = "{{ session['token'] }}";
            player = new window.Spotify.Player({
                name: 'Web Playback SDK',
                getOAuthToken: cb => { cb(token); },
                volume: 0.5
            });

            // Set Name to Guessify
            player.setName("Guessify").then(() => {
                console.log('Player name updated!');
            });

            // Error handling
            player.addListener('initialization_error', ({ message }) => console.error(message));
            player.addListener('authentication_error', ({ message }) => console.error(message));
            player.addListener('account_error', ({ message }) => console.error(message));
            player.addListener('playback_error', ({ message }) => console.error(message));

             // Playback status updates
            player.addListener('player_state_changed', state => {
                console.log('Player state changed:', state);
                const playPauseButton = document.getElementById('play-pause');
                if (state.paused) {
                    playPauseButton.innerHTML = '&#9658;';
                } else {
                    playPauseButton.innerHTML = '&#10074;&#10074;';
                }
            });

            // Ready
            player.addListener('ready', ({ device_id }) => {
                modal.style.display = 'none';
                console.log('Ready with Device ID:', device_id);
                device_ID = device_id;
            });

            // Not Ready
            player.addListener('not_ready', ({ device_id }) => {
                modal.style.display = 'block';
                console.log('Device ID has gone offline', device_id);
            });

            // Connect
            player.connect().then(success => {
                if (success) {
                    console.log('The Web Playback SDK successfully connected to Spotify!');
                    getRandomSong();
                } else {
                    console.error('Error connecting to Spotify.');
                }
            }).catch(error => console.error('Error connecting to Spotify:', error));
        }

        function getRandomSong() {
            fetch('/random_song')
                .then(response => {
                    console.log('Response received:', response);
                    return response.json();
                })
                .then(data => {
                    console.log('Random song data:', data);
                    if (data.track_uri && data.track_title) {
                        console.log('Playing track:', data.track_uri);
                        trackTitle = data.track_title;
                        track_uri = data.track_uri;
                        console.log('Track Title:', trackTitle);
                    } else {
                        console.error('No track URI received.');
                    }
                })
                .catch(error => console.error('Error fetching random song:', error));
        }

        // Plays Track for a Duration Based on the Number of Guesses
        function playTrack() {
            fetch('/play_track', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    track_uri: track_uri,
                    device_id: device_ID
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Playback started for track:', data.track_uri);
                    player.setVolume(0.5);
                    setTimeout(() => {
                        player.togglePlay().then(() => {
                            console.log('Paused after ' + (durations[currDurationIndex] / 1000) + ' seconds');
                            player.seek(0).then(() => {
                                console.log('Seeked to start of track.');
                            }).catch(error => console.error('Error seeking to start:', error));
                        }).catch(error => console.error('Error pausing track:', error));
                    }, durations[currDurationIndex]);
                } else {
                    console.error('Error starting playback:', data.error);
                }
            })
            .catch(error => console.error('Error starting playback:', error));
        }

        // Play or Pause Functionality
        document.getElementById('play-pause').addEventListener('click', () => {
            if (!player) {
                console.error('Player is not defined.');
                return;
            }
            player.getCurrentState().then(state => {
                if (state && !state.paused) {
                    player.pause().catch(error => console.error('Error pausing track:', error));
                } else {
                    playTrack(); // Restart from beginning
                }
            }).catch(error => console.error('Error getting current state:', error));
        });


        // Update Table with Guesses
        document.getElementById('gameForm').addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(this);

            fetch('/update_table', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    var table = document.querySelector('.guesses-table tbody');
                    var rows = table.getElementsByTagName('tr');
                    rows[data.row_index].cells[0].innerText = data.new_value;
                    var cell = rows[data.row_index].cells[0];
                    cell.innerText = data.new_value;
                    console.log('Track Title: ', trackTitle);
                    console.log('Guess: ', data.new_value);
                    console.log('Match: ', data.new_value === trackTitle);
                    if (trackTitle && data.new_value === trackTitle) {
                        cell.style.backgroundColor = '#1DB954';
                    } else {
                        cell.style.backgroundColor = '#cf190c';
                    }
                    cell.style.fontWeight = 'bold';
                    cell.style.color = 'white';
                    currDurationIndex = (currDurationIndex + 1) % durations.length;
                } else {
                    alert('Error updating row');
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>

</body>
{% endblock content %}
