<!-- Page where game takes place -->
{% extends "layout.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>

{% block content %}
<body>

    <table class="guesses-table">
        <tbody>
            {% for row in rows %}
            <tr>
            <td>{{ row }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- play button -->
    <div id="player-controls">
        <button id="play-pause" class="song-button"></button>
    </div>
    <p> <br> </p>

    <div class="container">
        <form id="updateForm">
            <input type="text" id="guess" name="guess" class="input_text" required>    
            <input type="submit" value="Check" class="submit_button">
        </form>
    </div>

<script>
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = '{{ access_token }}';
        const player = new Spotify.Player({
            name: 'Web Playback SDK Quick Start Player',
            getOAuthToken: cb => { cb(token); },
            volume: 0.5
        });

        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { console.error(message); });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { console.log(state); });

        // Ready
        player.addListener('ready', ({ device_id }) => {
            console.log('Ready with Device ID', device_id);
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        player.connect();

        document.getElementById('play-pause').onclick = () => {
            player.togglePlay();
        };
    };
</script>

<script>
    document.getElementById('updateForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var formData = new FormData(this);
    
    fetch('/game', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
        var table = document.querySelector('.guesses-table tbody');
        var rows = table.getElementsByTagName('tr');
        var cell = rows[data.row_index].cells[0];
        cell.innerText = data.new_value;
        cell.style.backgroundColor = '#cf190c';
        cell.style.fontWeight = 'bold';
        cell.style.color = 'white';
        } else {
        alert('Error updating row');
        }
    })
    .catch(error => console.error('Error:', error));
    });
</script>

</body>
{% endblock content %}
