<!DOCTYPE html>
<html>

<head>
    <title>Guessify</title>
    <html lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>

<body>
    
    <nav>
      <a class="navbar-links" href="{{ url_for('home') }}">Home</a>
      <h1 class="header"> Guessify </h1>
      <a class="navbar-links" href="{{ url_for('game') }}">Login</a>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
